/middleware/.classpath
/middleware/.project
/middleware/target
/middleware/target-eclipse

/surveyor/.classpath
/surveyor/.project
/surveyor/target
/surveyor/target-eclipse

/provider/.classpath
/provider/.project
/provider/target
/provider/target-eclipse

.project